ul {
  padding: 0;
  margin: 10px 0 0 0;
}
li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  background-color: rgba(61, 120, 175, 0.411);
  border-radius: 10px;
}

.btn {
  background: none;
  border: 2px solid darkblue;
  border-radius: 5px;
}
